@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  /* box-sizing: border-box; */
}

* {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE/Edge */
  -webkit-touch-callout: none; /* iOS long-press menu */
}

/* Global Focus Styles */
*:focus-visible {
  outline: 2px solid white;
  outline-offset: 2px;
}

@layer components {
  .button {
    @apply text-lg px-6 py-3 text-center text-white transition-colors duration-200 font-medium rounded-full border-2;
  }

  .button--primary {
    @apply button bg-white/10 border-white/10 hover:bg-white/20;
  }
  .button--secondary {
    @apply button border-white hover:bg-white/20;
  }

  .lg {
    @apply text-2xl;
  }

  .button--primary--lg {
    @apply button--primary lg;
  }
  .button--secondary--lg {
    @apply button--secondary lg;
  }

  .dashboard--card {
    @apply bg-gradient-to-br from-white/10 to-white/5 rounded-lg px-6 sm:px-8 py-8 transition-all duration-500;
  }
}
