@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

* {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE/Edge */
  -webkit-touch-callout: none; /* iOS long-press menu */
}

@property --mask-gradient {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

.mask-gradient {
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black var(--mask-gradient, 40%)
  );
}

/* Global Focus Styles */
*:focus-visible {
  outline: 2px solid white;
  outline-offset: 2px;
}
